<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiankong.mapper.IUserMapper" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.jiankong.model.User" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password"  jdbcType="VARCHAR"/>
        <result column="luru" property="luru" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="shenfenxinxi" property="shenfenxinxi" jdbcType="VARCHAR"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- all cols -->
    <sql id="Base_Column_List" >
        id,username,password,luru,status,shenfenxinxi,updatetime
    </sql>


    <!-- 查询条件 -->



    <select id="select" resultMap="BaseResultMap" parameterType="com.letv.fminfo.module.system.model.DictionarySearch">
        select
        <include refid="Base_Column_List"/>
        from sys_dictionary
        <include refid="Example_Where_Clause"/>
        <include refid="Limit_Condition"/>
    </select>



    <!-- 插入记录 -->
    <insert id="add" parameterType="com.letv.fminfo.module.system.model.Dictionary">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        sys_dictionary(id,code,text,dictionarytype_id,seq)
        values(#{id},#{code},#{text},#{dictionarytype_id},#{seq})
    </insert>



    <select id="get" resultMap="BaseResultMap" parameterType="int">
        select
        <include refid="Base_Column_List"/>
        from sys_dictionary
        where id =#{id}
    </select>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="edit" parameterType="com.letv.fminfo.module.system.model.Dictionary">
        update sys_dictionary set
        <trim suffixOverrides=",">
            <if test="code != null  and code != '' ">
                code=#{code},
            </if>
            <if test="text != null  and text != '' ">
                text=#{text},
            </if>
            <if test="dictionarytype_id != null  and dictionarytype_id != '' ">
                dictionarytype_id=#{dictionarytype_id},
            </if>
            <if test="seq != null  ">
                seq=#{seq},
            </if>
            <if test="state != null  ">
                state=#{state},
            </if>
            <if test="isdefault != null  ">
                isdefault=#{isdefault},
            </if>
        </trim> where id=#{id}
    </update>




    <!-- 插入记录 -->
    <insert id="addResource" parameterType="com.letv.fminfo.module.system.model.RoleResource">
        insert into
        sys_role_resource(role_id,resource_id)
        values(#{role_id},#{resource_id})
    </insert>

</mapper>   
